/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body, html {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color:  #f9f9f9;
    height: 100%; /* Full height of the viewport */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    display: flex;
    flex-direction: column; /* Stack the content vertically */
}

main {
  padding: 40px 20px;
  text-align: center;
  flex: 1 0 auto; /* Allows the main content to expand and shrink as needed */
  padding-bottom: 100px; /* Extra padding at the bottom to prevent overlap with footer */
}

header {
  background-color: #ffffff; /* White background */
  color: #333; /* Darker text color for contrast */
  text-align: center;
  padding: 10px 0;
  position: relative;
  z-index: 10; /* ensure header is above main content */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Adding a subtle shadow for depth */
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 0;
}

nav ul li {
  padding: 10px 20px;
}

nav ul li a {
  color: #333; /* Matching text color */
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
  color: #87CEEB; /* Sky blue for hover effect */
  text-decoration: underline;
}

/* -------------------------------------------- */
/* Mobile hamburger menu */
.hamburger {
  display: none;
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
  margin: 10px;
}

/* Responsive nav */
@media (max-width: 768px) {
  nav ul.nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    z-index: 1000; /* ensure nav links appear above other content */
  }

  nav ul.nav-links.show {
    display: flex;
    flex-direction: column; /* ensure vertical stacking of nav items */
  }

  nav ul.nav-links.show li {
    width: 100%; /* full width */
    text-align: center; /* center the text for each nav item */
    padding: 10px 0;
  }

  .hamburger {
    display: block;
  }
}
/* -------------------------------------------- */
/* Animation wrapper, Slide show */

.animation-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9; /* Maintain responsive ratio */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: white;
}

@media (min-width: 769px) {
  .animation-wrapper {
    min-height: 500px; /* Force 500px height only on wider screens */
  }
}

.animation-wrapper video {
  position: absolute; /* Absolute position within the relative container */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.animation-wrapper img {
  width: 100%;  /* Ensure the image spans the full width of the container */
  height: 100%; /* Ensure the image spans the full height of the container */
  object-fit: cover; /* Cover the container while preserving the image's aspect ratio */
  position: absolute; /* Position the image absolutely within its parent */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust the positioning to truly center the image */
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 1;
}

.slide.show {
  opacity: 1;
  z-index: 2;
}

.controls {
  position: absolute;
  left: 50%; /* Center horizontally */
  bottom: 10px; /* Position from the bottom */
  transform: translateX(-50%); /* Centering adjustment */
  z-index: 15; /* Ensure it's above all other content */
}

.controls .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb; /* Consider changing color if it's not visible on the video */
  opacity: 0.6;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.controls .dot.active, .controls .dot:hover {
  background-color: #717171;
  opacity: 0.6;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 10;
  font-size: 24px;
  text-align: center;
}


section {
    background-color: transparent;
    margin: 20px auto;
    padding: 20px;
    /* border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
    max-width: 800px;*/
}

/* -------------------------------------------- */
/* News & Profile */
#content-wrapper {
  max-width: 800px; /* Controls the overall width */
  margin: 0 auto; /* Centers the wrapper on the page */
  padding: 20px; /* Provides padding around the content */
  box-shadow: none; /* Removes any shadow if previously set */
}

#news {
  background-color:  #f9f9f9;
  padding: 20px;
  margin-bottom: 20px; /* Space between the news and the profile */
  border-radius: 0; /* Aligns with a more squared design */
  box-shadow: none; /* Ensures no shadow for a clean look */
  margin-top: -20px; /* Reduce this value as needed */
}

#news h2 {
  text-align: left; /* Ensures that the heading aligns to the left */
}

#news ul {
  list-style-type: none; /* Removes bullets */
  padding: 0;
  margin: 0;
  padding-left: 0; /* Align the text start point */
  margin-left: 0; /* Ensure no left margin */
}

#news li {
  margin-bottom: 10px; /* Ensures consistent spacing between items */
}

#news .news-text {
  padding-left: 0; /* Align text exactly under the PI name */
}

#news .news-date {
  display: inline-block;
  margin-right: 10px; /* Ensure there is enough space between the date and the text */
}

@media (max-width: 768px) {
  section, #content-wrapper {
    max-width: 95%;
    margin: 10px auto;
    padding: 10px;
  }

  #pi-introduction {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #pi-introduction img {
    width: 120px;
  }

  main {
    padding: 20px 10px;
  }

  .animation-wrapper {
    min-height: 300px; /* Smaller for small screens */
  }
}


#pi-introduction {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Aligns content to the left */
  gap: 35px;
  background-color: transparent; /* Maintains a clear background */
  padding: 35px;
  border-radius: 0; /* Removes any rounded corners */
  box-shadow: none; /* No shadows */
  padding-left: 0; /* Align this with the news section's left padding */
}

#pi-introduction img {
  width: 150px;
  height: auto;
  border-radius: 50%; /* Keeps the image rounded */
}

#pi-introduction div {
  min-height: 120px; /* Ensures a minimum height for vertical alignment */
  /* text-align: center; */
}

/* -------------------------------------------- */
#research {
  max-width: 1000px;
  display: block;
  justify-content: center;
  background-color: transparent;
  text-align: center;
}

#research img {
  display: inline-block;
  margin: 0 auto;
  max-width: 90%;
  height: auto;
}

/* -------------------------------------------- */
/* Pi Intro */
/* #pi-introduction {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  background-color: transparent; 
  padding: 20px;
  border-radius: 0; 
  box-shadow: none; 
}

#pi-introduction img {
  width: 150px; 
  border-radius: 50%;
}

#pi-introduction div {
  min-height: 120px; 
} */

/* -------------------------------------------- */

.language-switcher {
  position: absolute;
  right: 20px; /* Adjust based on your layout */
  top: 10px;
  font-size: 16px;
}

.language-switcher a {
  min-height: 44px;
  display: inline-flex;
  align-items: center; /* Vertically center the text */
  color: #333;
  text-decoration: none;
  padding: 10px 10px; /* Increase vertical padding for easier tapping */
  line-height: 1.5;   /* Good line height for touch devices */
}

/* .language-switcher a {
  color: #333;
  text-decoration: none;
  padding: 0 10px;
} */

.language-switcher a:hover {
  text-decoration: underline;
}

footer {
  flex-shrink: 0; /* Prevent the footer from shrinking */
  width: 100%; /* Full width */
  background: linear-gradient(135deg, #e0f7fa 0%, #87CEEB 100%);
  color: white; /* Text color */
  text-align: center;
  padding: 20px 0; /* Padding for aesthetics */
}

/* -------------------------------------------- */

#members {
  text-align: center;
  margin: 20px auto;
}

.member {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.member-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.member-info h3 {
  margin: 0;
  font-size: 1.5em;
}

.member-info p {
  margin: 5px 0 0;
}

#members h3 {
  text-align: left;
  margin-top: 20px;
  font-size: 1.3em;
}

.member-list {
  margin-bottom: 20px;
}

.member-list .member {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
}

.new-members-invite {
  font-size: 1.2em;
  margin-top: 40px;
  color: #333;
}